In [52]:
import numpy as np

import pandas as pd

In [53]:
df = pd.read_csv("./census.csv", sep=',')

print("The number of rows: ", len(df))

The number of rows 32561

In [34]:
# clean column names
new_columns = [col.lstrip() for col in df.columns]

df.columns = new_columns

In [35]:
for col in df.columns:
    if isinstance(df[col].iloc[0], str):
        df[col] = df[col].apply(lambda x:x.lstrip())

In [36]:
for col in df.columns:
    print(col, df[col].isna().any())

age False
workclass False
fnlgt False
education False
education-num False
marital-status False
occupation False
relationship False
race False
sex False
capital-gain False
capital-loss False
hours-per-week False
native-country False
salary False

In [40]:
for col in df.columns[:]:
    if isinstance(df[col].iloc[0], str):
        print(col, df[col].unique())

workclass ['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
education ['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 '7th-8th' 'Doctorate' 'Assoc-voc' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
marital-status ['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
occupation ['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Transport-moving' 'Farming-fishing'
 'Machine-op-inspct' 'Tech-support' 'Craft-repair' '?' 'Protective-serv'
 'Armed-Forces' 'Priv-house-serv']
relationship ['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
race ['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
sex ['Male' 'Female']
native-country ['United-States' 'Cuba' 'Jamaica' 'India' 'Mexico' 'South' 'Puerto-Rico'
 'Honduras' 'England' 'Canada' 'Germany' 'Iran' 'Philippines' 'Italy'
 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador' 'Laos' 'Taiwan'
 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador' 'France'
 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
salary ['<=50K' '>50K']

In [49]:
for col in df.columns[:]:
    if isinstance(df[col].iloc[0], (np.int64)):
        print("Column: {0:s}, Min: {1:}, Max: {2:}, Median: {3:}".format(col, df[col].min(), df[col].max(), df[col].median()))

Column: age, Min: 17, Max: 90, Median: 37.0
Column: fnlgt, Min: 12285, Max: 1484705, Median: 178312.0
Column: education-num, Min: 1, Max: 16, Median: 10.0
Column: capital-gain, Min: 0, Max: 99999, Median: 0.0
Column: capital-loss, Min: 0, Max: 4356, Median: 0.0
Column: hours-per-week, Min: 1, Max: 99, Median: 40.0

In [ ]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [51]:
df.to_csv("clean_data.csv", index=False)

In [ ]:
!ls

census.csv  clean.ipynb